# Rutas
DB_PATH=/var/www/html/jocarsa.com/analytics.db

# Configuración IA
OLLAMA_API_URL=https://tu-url-de-ngrok.ngrok-free.dev/api/
MODELO=qwen3:14b

# Credenciales (Déjalas vacías en este archivo)
AI_USER=
AI_PASS=
